<!DOCTYPE html>
<html>
  <head>
    <title>Medio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
	    window.splash = "<%= image_url('splash-pic5.jpg') %>";
	  </script>

    <script src="https://kit.fontawesome.com/a92af1662d.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Zen+Antique&display=swap');;
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
